{% extends 'blogs/base.html' %}

{% block content %}

<section class="text-center">
    <div class="container">
        <div class="autor--card">
            <p>
                Всем привет! Меня зовут Константин и добро пожаловать на сайт, посвященный мотокроссу! Надеюсь, что здесь вы найдёте много полезной и интересной информации. А я постараюсь найти её для вас. Устраивайтесь поудобнее и ПОГНАЛИ!
                <img src="media/autor/мотоцикл.jpg" alt="autor photo">
            </p>
            <p>
                Немного о себе. Занимаюсь мотокроссом уже более 20 лет и достиг определённых успехов. Моя бабушка была жокеем на Московском ипподроме и в детстве она часто брала меня посмотреть на скачки. Наверное, дух соревнований у нас в крови и мне передалась любовь к гонкам! Надеюсь, что мои сыновья тоже будут заниматься спортом и, возможно, мотокроссом.
                <img src="media/autor/женщина-жокей.jpg" alt="autor photo">
            </p>
            <p>
                Веду активный образ жизни. Хочу попробовать свои силы в автоспорте. Считаю, что человек должен всегда стремиться к развитию физическому и не только, что нужно искать и находить интересные увлечения, путешествовать, совершенствоваться, не зависимо от возраста.
            </p>
            <p>
                <img src="media/autor/Чкаловский кросс.jpg" alt="autor photo">
            </p>
            <p>
                <img src="media/autor/Серпухов.jpg" alt="autor photo">
            </p>
            <p>
                <img src="media/autor/Раменское.jpg" alt="autor photo">
            </p>
        </div>
    </div>
</section>
{% endblock %}