{% extends 'blogs/base.html' %}

{% block content %}

    <main class="blogs">
    <section class="text-center">
        <div class="container">
            <form class="form" action="{% url 'blogs' %}" method="get">
                <div class="form__field">
                  <label for="formInput#search">Поиск новостей </label>
                  <input class="input input--text" id="formInput#search" type="text" name="search_query"
                    placeholder="Поиск новостей по автору, тегу или заголовку"/>
                </div>
                <input class="btn btn--sub btn--lg" type="submit" value="Погнали!" />
            </form>
        </div>
    </section>
    <section class="blog">
        <div class="container">
            <div class="layout">
                <div class="column column--2of3">
                    {% for blog in blogs %}
                    <div class="column">
                        <div class="card--blog">
                            <a href="{% url 'blog' blog.id %}" class="blog">
                                <img class="thumbnail" src="{{ blog.image.url }}" alt="blog image" />
                                {% if blog.video %}
                                    <iframe width="560" height="315" src="{{ blog.video.url }}" frameborder="0" allowfullscreen></iframe>
                                {% endif %}
                                <div class="card--body">
                                  <h3 class="blog--title">{{ blog.title }} <i class="fa-solid fa-motorcycle fa-bounce fa-xs" style="color: #196903;"></i></h3>
                                  <p><a class="blog--author" href="{% url 'user_profile' blog.owner.id %} ">автор {{ blog.owner.name }}</a></p>
                                  <div class="blog--tags">
                                    {% for tag in blog.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                      <small>{{ tag }}</small>
                                    </span>
                                    {% endfor %}
                                  </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="column column--1of3">
                    <p class="advInfo__title">Объявления: </p>
                    {% for adv in advertisement %}
                    <div class="card--adv">
                        <a href="{% url 'user_profile' adv.owner.id %}">
                            <img src="{{ adv.image.url }}" alt="">
                        <h6>{{ adv.text }}</h6>
                        <h6>{{ adv.contacts }}</h6>
                        <h6>{{ adv.owner }}</h6>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% if blogs.has_other_pages %}
    <div class="pagination">
        <ul class="container">
            {% if blogs.has_previous %}
            <li><a href="?page={{ blogs.previous_page_number }}" class="btn page-link">&lt;Prev</a></li>
            {% endif %}

            {% if blogs.number > 3 %}
            <li><a href="?page=1" class="btn page-link">1</a></li>
            ...
            {% endif %}

            {% for page in custom_range %}
            {% if page == blogs.number %}
            <li><a href="?page={{ page }}" class="btn page-link btn--sub">{{ page }}</a></li>
            {% else %}
            <li><a href="?page={{ page }}" class="btn page-link">{{ page }}</a></li>
            {% endif %}
            {% endfor %}

            {% if blogs.number < paginator.num_pages|add:"-3" %}
            ...
            <li><a href="?page={{ paginator.num_pages }}" class="btn page-link">{{ paginator.num_pages }}</a></li>
            {% endif %}

            {% if blogs.has_next %}
            <li><a href="?page={{ blogs.next_page_number }}" class="btn page-link">Next&gt;</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</main>

{% endblock %}
