<footer class="footer">
    <div class="container">
        <a href="https://www.mfr.ru/calendar/" target="_blank" rel="noopener noreferrer" class="footer">
            Спортивный календарь 2023
        </a>
        <a href="https://www.mfr.ru/news/winline-tseremoniya-nagrazhdeniya-pobediteley-2022-2023/">
            Winline церемония награждения победителей 2022-2023
        </a>
        <a href="https://www.mfr.ru/news/final-lichnogo-chempionata-rossii-po-spidveyu2023/">
            Финал личного чемпионата России по спидвею
        </a>
        <a href="https://www.mfr.ru/license/">
            Приобретение спортивных разрешений
        </a>
        <a href="#">
            Написать админу <i class="fa-regular fa-envelope fa-fade" style="color: #2525ed;"></i>
        </a>
        <a href="">

        </a>
    </div>
</footer>